<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8" />
  <title>Weather App</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Share+Tech&display=swap" rel="stylesheet">
</head>
<body>
  <h1> My Weather Application  </h1>
  <input type="text" id="countryInput" placeholder=" Enter a Country Name" />
  <button onclick="getWeather()">show results </button>
  <div id="message">Enter your Country name to get the Result</div>

  <script src="/js/script.js"></script>
</body>
</html>

